* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Poppins, sans-serif;
    background: rgb(78, 27, 136);
    color: white;
}

header {
    text-align: center;
    margin: 50px auto;
}

header h1 {
    display: inline;
}

.img-logo {
    width: 30px;
    display: inline-flex;
    position: relative;
    top: 50%;
    transform: translateY(20%);
}

main {
    display: flex;
    justify-content: center;
}

label {
    
    font-size: 18px;
}

.label-1 {
    display: block;
    margin-right: 10px;
}

#inp-pct {
    width: 4rem;
    margin-right: 10px;
}

.btn-send {
    color: white;
    background: green;
    border: none;
    border-radius: .3rem;
    width: 60px;
    height: 30px;
    cursor: pointer;
}

.btn-send:hover {
    background: limegreen;
}

footer p {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 12px;
    margin-bottom: 40px;
}